html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #717171;
  padding: 30px;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form__container {
  margin-bottom: 2rem;
}

#todo__form{
  display: flex;
}

form > input[type="text"] {
  height: 42px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #545454;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px;
  border-right: 0px;
}

form > input[type="submit"] {
  height: 42px;
  width: 42px;
  background-color: #fcfcfc;
  color: black;
  font-size: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0px;
} 

input[type="checkbox"] {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.list__container {
  width: 100%;
  margin: 0 auto;
}

.list__container ul li {  
  height: 38px;
  width: 100%;
  font-family: 'Caveat', cursive;
  border-radius: 4px;
  background-color: #fcfcfc;
  color: #5d5c5a;
  font-size: 20px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 5px;
}

.list__container ul li span {
  margin-left: auto;
  padding: 7px;
}

.list__container ul li.list__item--completed{
  text-decoration: line-through;
} 

@media screen and (min-width: 1024px) {
  .container { 
    max-width: 900px;
    margin: 0px auto;
  }
}